<!DOCTYPE html>
<html>
<head>
    <title>Upload Note</title>
     <!-- Include Bootstrap CSS -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="border">
    <div class="container mt-2">
        <h1>Upload Note</h1>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                {% for question in existing_question_types %}
                <label><input type="checkbox" name="question_types" value="{{question.name}}"> {{question.name}}</label>
                {% endfor %}    
            
                </br>
                <button type="submit" class="btn btn-primary mt-2">Upload</button>
            </form>
    </div>
</body>
</html>
